<h2 class="text-2xl md:text-3xl font-bold text-center mt-9 mb-6">Conheça nosso menu</h2>

<!-- Primeira sessão lanches -->
<h2 class="text-2xl md:text-3xl font-bold mx-5 md:mx-28 mt-9 mb-6">HAMBURGUERES</h2>
<section id="menu" class="my-5">
    <main class="flex gap-4 mx-5 md:mx-28 flex-wrap">
        <div *ngFor="let item of menuItems"
            class="flex w-full md:w-[calc(50%-8px)] p-5 gap-3 shadow-lg  bg-[#f0f0f0] rounded">
            <img [src]="item.img" [alt]="item.alt" class=" flex gap-3 w-28 h-28 rounded-md">
            <div class="flex flex-col justify-between">
                <span class="font-bold">{{ item.title }}</span>
                <span>{{ item.description }}</span>
                
                <div class="w-full flex justify-between items-center">
                    <span class="font-semibold">R$ {{ item.value }}</span>
                    <a class="bg-[#030712] px-3 py-1 rounded" (click)="addToCart(item)"><img src="./assets/cart-plus-fill.svg"
                            alt="icone de compras"></a>
                </div>
            </div>
        </div>
    </main>
</section>

<!-- Segunda sessão bebidas -->
<h2 class="text-2xl md:text-3xl font-bold mx-5 md:mx-28 mt-9 mb-6">BEBIDAS</h2>
<section id="menu" class="mb-32">
    <main class="flex gap-4 mx-5 md:mx-28 flex-wrap">
        <div *ngFor="let bebidas of bebidasItems"
            class="flex w-full md:w-[calc(50%-8px)] p-5 gap-3 shadow-lg  bg-[#f0f0f0] rounded">
            <img [src]="bebidas.img" [alt]="bebidas.alt" class=" flex gap-3 w-28 h-28 rounded-md">
            <div class="flex flex-col justify-between">
                <span class="font-bold">{{ bebidas.title }}</span>
                <span>{{ bebidas.description }}</span>
                
                <div class="w-full flex justify-between items-center">
                    <span class="font-semibold">R$ {{ bebidas.value }}</span>
                    <a class="bg-[#030712] px-3 py-1 rounded" (click)="addToCart(bebidas)"><img src="./assets/cart-plus-fill.svg"
                            alt="icone de compras"></a>
                </div>
            </div>
        </div>
    </main>
</section>